:root {
    
    --background-card: linear-gradient(#471CA9, #5736A3, #4B2A99);
    --main-font-color: #EBD8FF;
    --second-font-color: #373737;
    --background-ring: #5736A3;
    --button-hover: #5CD3A8;
    --cubic: cubic-bezier(0.4, 0, 0.2, 1);
}

.card {
    position: relative;
    font-family: 'Montserrat';
    width: 380px; 
    height: 460px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    border-radius: 20px;
    background: var(--background-card);

    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    color: var(--main-font-color);
    box-shadow: -2.5776965618133545px 6.873857021331787px 20.621572494506836px 0px #0000003B;    
}

.logo {
    position: absolute;
    top: 20;
    left: 20;
}

.background {
    margin-top: 29px;
}

.ellipse {
    position: absolute;
    top: 40%;
    left: 40%;
}

.man {
    position: absolute;
    top: 42%;
    left: 43.5%;
}

.ring {
    position: absolute;
    top: 41.5%;
    left: 43.5%;
    width: 64px;
    height: 64px;
    background-color: var(--background-ring);
    border-radius: 50%;
}

.line {
    margin: 0;
    margin-top: 18px;
    height: 8px;  
    background-color: var(--main-font-color);
    box-shadow: 0px 3.4369285106658936px 2.5776965618133545px 0px #FBF8FF inset;
    box-shadow: 0px 3.4369285106658936px 3.4369285106658936px 0px #0000000F;    
    box-shadow: 0px -1.7184642553329468px 3.4369285106658936px 0px #AE7BE3 inset;
}

.tweet {
    margin: 0;
    margin-top: 62px;
}

.follower {
    margin: 0;
    margin-top: 16px;
}


 
.follow {
    min-width: 196px;
    height: 50px;
    margin-top: 26px;
    font-size: 18px;
    font-weight: 600;
    line-height: 1.2;
    color: var(--second-font-color);
    background-color: var(--main-font-color);
    border: none;
    border-radius: 10px; 
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: var(--cubic);
}

.is-active {
    background-color: var(--button-hover);
}

.follow:hover,
.follow:focus {
    background-color: var(--button-hover);
}